.main-banner__content {
  .slick-prev {
    z-index: 99;

    top: 91%;
    left: 42%;
    transition: all .5s;

    cursor: pointer;

    @include respond-to(sm) {
      left: 37%;
    }

    &:before {
      font-size: 14px;
      color: #eada27;
      content: "\f053";
      font-family: 'FontAwesome';
      z-index: 3;
    }

    &:hover {
      outline: none;
      transition: all .5s;
      background: $black;
      color: $white;
    }
  }

  .slick-next {
    z-index: 99;
    cursor: pointer;
    transition: all .5s;
    top: 91%;
    right: 42%;

    @include respond-to(sm) {
      right: 37%;
    }


    &:before {
      font-size: 14px;
      color: #eada27;
      content: "\f054";
      font-family: 'FontAwesome';
    }

    &:hover {
      outline: none;
      background: $black;
      color: $white;
      transition: all .5s;

    }
  }

  .slick-dots {
    z-index: 2;
    display: flex;
    position: absolute;
    bottom: 7%;
    right: initial;
    left: 0%;
    width: 100%;
    counter-reset: item;
    justify-content: center;
    list-style: decimal-leading-zero;
    list-style-type: decimal-leading-zero;

    li {
      border-bottom: solid 1.5px #797979;
      margin: 0 !important;
      width: 41px;
      height: 27px;
    }

    button {
      width: 41px;

    }

    .slick-active {

      border-bottom: solid 1.5px #eada27;
    }


    li button::before {
      content: '';
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      width: 41px;
      margin-bottom: 6px;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer;
      font-family: $bold;

      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      opacity: 1;
      transition: all 300ms ease;

    }



    .slick-active {
      button {
        &:before {
          // color: $dots-color-active;
          // opacity: 0.75;
          // width: 35px;
          // margin: 0;
        }
      }
    }

    li {
      margin: 0 10px;

      button {

        &:before {

          transition: all 300ms ease;
        }


      }
    }
  }
}

.main-blog__carousel {
  .slick-prev {
    z-index: 99;
    top: auto;
    bottom: -94px;
    left: 42%;
    transition: all .5s;

    @include respond-to(md) {
      left: 38%;

    }

    cursor: pointer;

    &:before {
      font-size: 14px;
      color: #eada27;
      content: "\f053";
      font-family: 'FontAwesome';
      z-index: 3;
    }

    &:hover {
      outline: none;
      transition: all .5s;
      background: $black;
      color: $white;
    }
  }

  .slick-next {
    z-index: 99;
    cursor: pointer;
    transition: all .5s;
    bottom: -94px;
    right: 42%;
    top: auto;

    @include respond-to(md) {
      right: 38%;

    }

    &:before {
      font-size: 14px;
      color: #eada27;
      content: "\f054";
      font-family: 'FontAwesome';
    }

    &:hover {
      outline: none;
      background: $black;
      color: $white;
      transition: all .5s;

    }
  }

  .slick-dots {
    z-index: 2;
    display: flex;
    position: absolute;
    bottom: -94px;
    right: initial;
    left: 0%;
    width: 100%;
    counter-reset: item;
    justify-content: center;
    list-style: decimal-leading-zero;
    list-style-type: decimal-leading-zero;

    li {
      border-bottom: solid 1.5px #797979;
      margin: 0 !important;
      width: 41px;
      height: 27px;
    }

    button {
      width: 41px;

    }

    .slick-active {

      border-bottom: solid 1.5px #eada27;
    }


    li button::before {
      content: '';
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      width: 41px;
      margin-bottom: 6px;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer;
      font-family: $bold;

      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      opacity: 1;
      transition: all 300ms ease;

    }

  }
}

.main-products__carousel {
  .slick-prev {
    z-index: 99;
    top: -56px;
    left: 47%;
    transition: all .5s;
    transform: translateX(-47%);
    cursor: pointer;

    @include respond-to(xs) {
      left: 35%;
      transform: translateX(-35%);
    }


    @include respond-to(sm) {
      left: 40%;
      transform: translateX(-40%);
    }

    @include respond-to(md) {
      left: 45%;
      transform: translateX(-45%);
    }

    &:before {
      font-size: 14px;
      color: #eada27;
      content: "";
      background-image: url('../img/left.png'); // font-family: 'FontAwesome';
      z-index: 3;
      opacity: 1;
      display: block;
      background-size: contain;
      width: 43px;
      height: 100%;
      background-repeat: no-repeat;
    }

    &:hover {
      outline: none;
      transition: all .5s;
      background: $black;
      color: $white;
    }
  }

  .slick-next {
    z-index: 99;
    cursor: pointer;
    transition: all .5s;
    top: -56px;
    right: 47%;
    transform: translateX(-47%);

    @include respond-to(xs) {
      right: 35%;
      transform: translateX(-35%);

    }

    @include respond-to(sm) {
      right: 40%;
      transform: translateX(-40%);

    }

    @include respond-to(md) {
      right: 45%;
      transform: translateX(-45%);

    }

    &:before {
      background-repeat: no-repeat;

      width: 43px;
      height: 100%;
      font-size: 14px;
      color: #eada27;
      content: "";
      opacity: 1;
      display: block;
      background-image: url('../img/right.png');
      background-size: contain;
    }

  }
}

.main-about__tab {
  .slick-dots {
    top: -59px;
    bottom: inherit;
    display: flex;
    justify-content: center;

    .slick-active {
      border-bottom: 1px solid $yellow;
      bottom: 0;

    }
  }

  .slick-dots li {
    width: 73px;
    height: fit-content;
    padding-bottom: 6px;
    opacity: 1;
  }

  .slick-dots li button {
    top: 0;
    position: absolute;
    width: 100%;
  }

  .slick-dots li button:before {
    overflow: hidden;
    visibility: hidden;
  }

  .slick-dots li::before {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    font-family: $bold;
    text-transform: uppercase;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    opacity: 1;
    width: 100%;
    height: auto;
  }



  .slick-dots li:nth-child(1) {
    &::before {
      content: "All";
    }
  }

  .slick-dots li:nth-child(2) {
    &::before {

      content: "lorem im";
    }
  }

  .slick-dots li:nth-child(3) {
    &::before {

      content: "lore";
    }
  }

  .slick-dots li:nth-child(4) {
    &::before {

      content: "lorem";
    }
  }

  .slick-dots li:nth-child(5) {
    &::before {

      content: "lorem";
    }
  }
}


.main-about__carousel {
  .slick-prev {
    z-index: 99;

    transition: all .5s;
    cursor: pointer;
    right: 18%;
    top: 9px;

    @include respond-to(xs) {
      top: inherit;
      bottom: -18px;
      right: 37%;
    }



    &:before {
      font-size: 14px;
      color: #eada27;
      content: "";
      background-image: url('../img/left.png'); // font-family: 'FontAwesome';
      z-index: 3;
      opacity: 1;
      display: block;
      background-size: contain;
      width: 43px;
      height: 100%;
      background-repeat: no-repeat;
    }

    &:hover {
      outline: none;
      transition: all .5s;
      background: $black;
      color: $white;
    }
  }

  .slick-next {
    z-index: 99;
    cursor: pointer;
    transition: all .5s;

    top: 9px;
    right: 11%;

    @include respond-to(xs) {
      top: inherit;
      bottom: -18px;
    }

    &:before {
      background-repeat: no-repeat;

      width: 43px;
      height: 100%;
      font-size: 14px;
      color: #eada27;
      content: "";
      opacity: 1;
      display: block;
      background-image: url('../img/right.png');
      background-size: contain;
    }
  }


}


.main-about__carousel .slick-dots {
  li.slick-active {
    overflow: visible;
    visibility: visible;
    border-bottom: none;
    bottom: initial;
    left: 0;
    transform: translate(0);
    top: -40px;

    &::after {
      width: 1px;
      height: 30px;
      content: "";
      background: #efe427;
      transform: rotateZ(43deg);
      bottom: -66px;
      position: absolute;
      right: -18px;
    }
  }

  z-index: 2;
  display: flex;
  counter-reset: item;
  top: 192px;
  list-style: decimal-leading-zero;
  // top: -48px;
  list-style-type: decimal-leading-zero;

  li::before {
    content: counter(item, decimal-leading-zero) " " !important;
    counter-increment: item;
    opacity: 1;
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Akzidenz-Grotesk Expert BQ';

    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    // background: #fff;
  }

  li {
    overflow: hidden;
    visibility: hidden;
    position: absolute;

    height: 100%;
    display: flex;
    align-items: center;
    border: none;
  }

  li:last-child {
    overflow: visible;
    visibility: visible;
    left: 124px;
    bottom: -63px;

    &:after {
      display: none !important;
    }
  }

}

.general-banner__carousel {
  .slick-dots {
    z-index: 2;
    display: flex;
    position: absolute;
    bottom: 44px;
    right: initial;
    left: 134px;
    width: 100%;
    counter-reset: item;
    justify-content: start;
    list-style: decimal-leading-zero;
    list-style-type: decimal-leading-zero;

    @include respond-to(xs) {
      left: 33px;
    }

    li {
      border-bottom: solid 1.5px #797979;
      margin: 0 !important;
      width: 52px;
      height: 27px;
    }

    button {
      width: 41px;

    }

    .slick-active {

      border-bottom: solid 1.5px #eada27;
    }


    li button::before {
      content: '';
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      width: 52px;
      margin-bottom: 6px;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer;
      font-family: $bold;

      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      opacity: 1;
      transition: all 300ms ease;

    }

  }

  .slick-prev {
    z-index: 99;
    top: auto;
    bottom: 44px;
    left: 95px;
    transition: all .5s;


    cursor: pointer;

    &:before {
      font-size: 12px;
      color: #eada27;
      content: "\f053";
      font-family: 'FontAwesome';
      z-index: 3;
    }

    &:hover {
      outline: none;
      transition: all .5s;
      background: $black;
      color: $white;
    }
  }

  .slick-next {
    z-index: 99;
    cursor: pointer;
    transition: all .5s;
    bottom: 44px;
    left: 310px;
    top: auto;



    &:before {
      font-size: 12px;
      color: #eada27;
      content: "\f054";
      font-family: 'FontAwesome';
    }

    &:hover {
      outline: none;
      background: $black;
      color: $white;
      transition: all .5s;

    }
  }
}

.about-team__carousel {
  .slick-prev {
    z-index: 99;
    top: auto;
    bottom: -72px;
    left: 42%;
    transition: all .5s;

    @include respond-to(md) {
      left: 38%;

    }

    cursor: pointer;

    &:before {
      font-size: 14px;
      color: #eada27;
      content: "\f053";
      font-family: 'FontAwesome';
      z-index: 3;
    }

    &:hover {
      outline: none;
      transition: all .5s;
      background: $black;
      color: $white;
    }
  }

  .slick-next {
    z-index: 99;
    cursor: pointer;
    transition: all .5s;
    bottom: -72px;
    right: 42%;
    top: auto;

    @include respond-to(md) {
      right: 38%;

    }

    &:before {
      font-size: 14px;
      color: #eada27;
      content: "\f054";
      font-family: 'FontAwesome';
    }

    &:hover {
      outline: none;
      background: $black;
      color: $white;
      transition: all .5s;

    }
  }

  .slick-dots {
    z-index: 2;
    display: flex;
    position: absolute;
    bottom: -64px;
    right: initial;
    left: 0%;
    width: 100%;
    counter-reset: item;
    justify-content: center;
    list-style: decimal-leading-zero;
    list-style-type: decimal-leading-zero;

    li {
      border-bottom: solid 1.5px #797979;
      margin: 0 !important;
      width: 41px;
      height: 27px;
    }

    button {
      width: 41px;

    }

    .slick-active {

      border-bottom: solid 1.5px #eada27;
    }


    li button::before {
      content: '';
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      width: 41px;
      margin-bottom: 6px;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer;
      font-family: $bold;

      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      opacity: 1;
      transition: all 300ms ease;

    }

  }
}



.about-value__carousel {
  .slick-prev {
    z-index: 99;
    left: 151px;
    transition: all .5s;
    cursor: pointer;

    top: inherit;
    bottom: -38px;

    &:before {
      font-size: 14px;
      color: #eada27;
      content: "";
      background-image: url('../img/left.png'); // font-family: 'FontAwesome';
      z-index: 3;
      opacity: 1;
      display: block;
      background-size: contain;
      width: 43px;
      height: 100%;
      background-repeat: no-repeat;
    }

    &:hover {
      outline: none;
      transition: all .5s;
      background: $black;
      color: $white;
    }
  }

  .slick-next {
    z-index: 99;
    cursor: pointer;
    transition: all .5s;
    top: inherit;
    bottom: -38px;
    left: 204px;


    &:before {
      background-repeat: no-repeat;

      width: 43px;
      height: 100%;
      font-size: 14px;
      color: #eada27;
      content: "";
      opacity: 1;
      display: block;
      background-image: url('../img/right.png');
      background-size: contain;
    }

  }

  .slick-dots {
    z-index: 2;
    display: flex;
    position: absolute;
    bottom: -64px;
    right: initial;
    left: 0%;
    width: 100%;
    counter-reset: item;
    justify-content: center;
    width: fit-content;
    list-style: decimal-leading-zero;
    list-style-type: decimal-leading-zero;
    flex-direction: column;
    width: fit-content;
    right: 0;
    left: initial;
    top: 0;
    bottom: initial;

    button {

      width: 100%;
    }

    li {
      width: 100%;
      margin-bottom: 47px;

    }


    li button::before {
      content: '';
      display: inline-block;
      font-size: 14px;
      font-stretch: normal;
      width: 41px;
      position: inherit;
      margin-bottom: 6px;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer;

      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      opacity: 1;
      transition: all 300ms ease;

    }

    li:nth-child(1) button::after {
      content: "Valor Agregado";
    }

    .slick-active {
      button::after {
        color: $yellow;
      }
    }

    li button::after {
      content: "Lorem ipsum lore";
      font-size: 15px;
      position: inherit;
      font-stretch: normal;
      margin-bottom: 6px;
      font-style: normal;
      font-family: $bold;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer;
    }

  }
}