@charset "UTF-8";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

.btn_custom {
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 13px 50px;
  cursor: pointer;
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 14px;
  min-width: 85px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 16px;
  min-width: 105px;
  font-size: 18px;
}

.btn--filled {
  color: #f47321;
  background-color: rgba(223, 130, 57, 0.18);
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

.btn--filled:hover {
  background-color: rgba(223, 130, 57, 0.18);
  color: #f47321;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

@media (max-width: 768px) {
  .offcanvas-collapse {
    position: fixed;
    top: 60px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #000;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    padding-top: 25px;
  }
}

@media (max-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .offcanvas-collapse {
    top: 10.4rem;
  }
}

@media (max-width: 768px) {
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 1.7rem;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.main-banner__content .slick-prev {
  z-index: 99;
  top: 91%;
  left: 42%;
  transition: all .5s;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-prev {
    left: 37%;
  }
}

.main-banner__content .slick-prev:before {
  font-size: 14px;
  color: #eada27;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-banner__content .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background: #000;
  color: #fff;
}

.main-banner__content .slick-next {
  z-index: 99;
  cursor: pointer;
  transition: all .5s;
  top: 91%;
  right: 42%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-next {
    right: 37%;
  }
}

.main-banner__content .slick-next:before {
  font-size: 14px;
  color: #eada27;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-banner__content .slick-next:hover {
  outline: none;
  background: #000;
  color: #fff;
  transition: all .5s;
}

.main-banner__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 7%;
  right: initial;
  left: 0%;
  width: 100%;
  counter-reset: item;
  justify-content: center;
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

.main-banner__content .slick-dots li {
  border-bottom: solid 1.5px #797979;
  margin: 0 !important;
  width: 41px;
  height: 27px;
}

.main-banner__content .slick-dots button {
  width: 41px;
}

.main-banner__content .slick-dots .slick-active {
  border-bottom: solid 1.5px #eada27;
}

.main-banner__content .slick-dots li button::before {
  content: '';
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  width: 41px;
  margin-bottom: 6px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  cursor: pointer;
  font-family: "Akzidenz-Grotesk BQ";
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  opacity: 1;
  transition: all 300ms ease;
}

.main-banner__content .slick-dots li {
  margin: 0 10px;
}

.main-banner__content .slick-dots li button:before {
  transition: all 300ms ease;
}

.main-blog__carousel .slick-prev {
  z-index: 99;
  top: auto;
  bottom: -94px;
  left: 42%;
  transition: all .5s;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-blog__carousel .slick-prev {
    left: 38%;
  }
}

.main-blog__carousel .slick-prev:before {
  font-size: 14px;
  color: #eada27;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-blog__carousel .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background: #000;
  color: #fff;
}

.main-blog__carousel .slick-next {
  z-index: 99;
  cursor: pointer;
  transition: all .5s;
  bottom: -94px;
  right: 42%;
  top: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-blog__carousel .slick-next {
    right: 38%;
  }
}

.main-blog__carousel .slick-next:before {
  font-size: 14px;
  color: #eada27;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-blog__carousel .slick-next:hover {
  outline: none;
  background: #000;
  color: #fff;
  transition: all .5s;
}

.main-blog__carousel .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: -94px;
  right: initial;
  left: 0%;
  width: 100%;
  counter-reset: item;
  justify-content: center;
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

.main-blog__carousel .slick-dots li {
  border-bottom: solid 1.5px #797979;
  margin: 0 !important;
  width: 41px;
  height: 27px;
}

.main-blog__carousel .slick-dots button {
  width: 41px;
}

.main-blog__carousel .slick-dots .slick-active {
  border-bottom: solid 1.5px #eada27;
}

.main-blog__carousel .slick-dots li button::before {
  content: '';
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  width: 41px;
  margin-bottom: 6px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  cursor: pointer;
  font-family: "Akzidenz-Grotesk BQ";
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  opacity: 1;
  transition: all 300ms ease;
}

.main-products__carousel .slick-prev {
  z-index: 99;
  top: -56px;
  left: 47%;
  transition: all .5s;
  transform: translateX(-47%);
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-products__carousel .slick-prev {
    left: 35%;
    transform: translateX(-35%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-products__carousel .slick-prev {
    left: 40%;
    transform: translateX(-40%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-products__carousel .slick-prev {
    left: 45%;
    transform: translateX(-45%);
  }
}

.main-products__carousel .slick-prev:before {
  font-size: 14px;
  color: #eada27;
  content: "";
  background-image: url("../img/left.png");
  z-index: 3;
  opacity: 1;
  display: block;
  background-size: contain;
  width: 43px;
  height: 100%;
  background-repeat: no-repeat;
}

.main-products__carousel .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background: #000;
  color: #fff;
}

.main-products__carousel .slick-next {
  z-index: 99;
  cursor: pointer;
  transition: all .5s;
  top: -56px;
  right: 47%;
  transform: translateX(-47%);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-products__carousel .slick-next {
    right: 35%;
    transform: translateX(-35%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-products__carousel .slick-next {
    right: 40%;
    transform: translateX(-40%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-products__carousel .slick-next {
    right: 45%;
    transform: translateX(-45%);
  }
}

.main-products__carousel .slick-next:before {
  background-repeat: no-repeat;
  width: 43px;
  height: 100%;
  font-size: 14px;
  color: #eada27;
  content: "";
  opacity: 1;
  display: block;
  background-image: url("../img/right.png");
  background-size: contain;
}

.main-about__tab .slick-dots {
  top: -59px;
  bottom: inherit;
  display: flex;
  justify-content: center;
}

.main-about__tab .slick-dots .slick-active {
  border-bottom: 1px solid #efe427;
  bottom: 0;
}

.main-about__tab .slick-dots li {
  width: 73px;
  height: fit-content;
  padding-bottom: 6px;
  opacity: 1;
}

.main-about__tab .slick-dots li button {
  top: 0;
  position: absolute;
  width: 100%;
}

.main-about__tab .slick-dots li button:before {
  overflow: hidden;
  visibility: hidden;
}

.main-about__tab .slick-dots li::before {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-family: "Akzidenz-Grotesk BQ";
  text-transform: uppercase;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
  opacity: 1;
  width: 100%;
  height: auto;
}

.main-about__tab .slick-dots li:nth-child(1)::before {
  content: "All";
}

.main-about__tab .slick-dots li:nth-child(2)::before {
  content: "lorem im";
}

.main-about__tab .slick-dots li:nth-child(3)::before {
  content: "lore";
}

.main-about__tab .slick-dots li:nth-child(4)::before {
  content: "lorem";
}

.main-about__tab .slick-dots li:nth-child(5)::before {
  content: "lorem";
}

.main-about__carousel .slick-prev {
  z-index: 99;
  transition: all .5s;
  cursor: pointer;
  right: 18%;
  top: 9px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about__carousel .slick-prev {
    top: inherit;
    bottom: -18px;
    right: 37%;
  }
}

.main-about__carousel .slick-prev:before {
  font-size: 14px;
  color: #eada27;
  content: "";
  background-image: url("../img/left.png");
  z-index: 3;
  opacity: 1;
  display: block;
  background-size: contain;
  width: 43px;
  height: 100%;
  background-repeat: no-repeat;
}

.main-about__carousel .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background: #000;
  color: #fff;
}

.main-about__carousel .slick-next {
  z-index: 99;
  cursor: pointer;
  transition: all .5s;
  top: 9px;
  right: 11%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about__carousel .slick-next {
    top: inherit;
    bottom: -18px;
  }
}

.main-about__carousel .slick-next:before {
  background-repeat: no-repeat;
  width: 43px;
  height: 100%;
  font-size: 14px;
  color: #eada27;
  content: "";
  opacity: 1;
  display: block;
  background-image: url("../img/right.png");
  background-size: contain;
}

.main-about__carousel .slick-dots {
  z-index: 2;
  display: flex;
  counter-reset: item;
  top: 192px;
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

.main-about__carousel .slick-dots li.slick-active {
  overflow: visible;
  visibility: visible;
  border-bottom: none;
  bottom: initial;
  left: 0;
  transform: translate(0);
  top: -40px;
}

.main-about__carousel .slick-dots li.slick-active::after {
  width: 1px;
  height: 30px;
  content: "";
  background: #efe427;
  transform: rotateZ(43deg);
  bottom: -66px;
  position: absolute;
  right: -18px;
}

.main-about__carousel .slick-dots li::before {
  content: counter(item, decimal-leading-zero) " " !important;
  counter-increment: item;
  opacity: 1;
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  font-family: 'Akzidenz-Grotesk Expert BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.main-about__carousel .slick-dots li {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
}

.main-about__carousel .slick-dots li:last-child {
  overflow: visible;
  visibility: visible;
  left: 124px;
  bottom: -63px;
}

.main-about__carousel .slick-dots li:last-child:after {
  display: none !important;
}

.general-banner__carousel .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 44px;
  right: initial;
  left: 134px;
  width: 100%;
  counter-reset: item;
  justify-content: start;
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

@media (min-width: 0px) and (max-width: 767px) {
  .general-banner__carousel .slick-dots {
    left: 33px;
  }
}

.general-banner__carousel .slick-dots li {
  border-bottom: solid 1.5px #797979;
  margin: 0 !important;
  width: 52px;
  height: 27px;
}

.general-banner__carousel .slick-dots button {
  width: 41px;
}

.general-banner__carousel .slick-dots .slick-active {
  border-bottom: solid 1.5px #eada27;
}

.general-banner__carousel .slick-dots li button::before {
  content: '';
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  width: 52px;
  margin-bottom: 6px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  cursor: pointer;
  font-family: "Akzidenz-Grotesk BQ";
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  opacity: 1;
  transition: all 300ms ease;
}

.general-banner__carousel .slick-prev {
  z-index: 99;
  top: auto;
  bottom: 44px;
  left: 95px;
  transition: all .5s;
  cursor: pointer;
}

.general-banner__carousel .slick-prev:before {
  font-size: 12px;
  color: #eada27;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.general-banner__carousel .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background: #000;
  color: #fff;
}

.general-banner__carousel .slick-next {
  z-index: 99;
  cursor: pointer;
  transition: all .5s;
  bottom: 44px;
  left: 310px;
  top: auto;
}

.general-banner__carousel .slick-next:before {
  font-size: 12px;
  color: #eada27;
  content: "\f054";
  font-family: 'FontAwesome';
}

.general-banner__carousel .slick-next:hover {
  outline: none;
  background: #000;
  color: #fff;
  transition: all .5s;
}

.about-team__carousel .slick-prev {
  z-index: 99;
  top: auto;
  bottom: -72px;
  left: 42%;
  transition: all .5s;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-team__carousel .slick-prev {
    left: 38%;
  }
}

.about-team__carousel .slick-prev:before {
  font-size: 14px;
  color: #eada27;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.about-team__carousel .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background: #000;
  color: #fff;
}

.about-team__carousel .slick-next {
  z-index: 99;
  cursor: pointer;
  transition: all .5s;
  bottom: -72px;
  right: 42%;
  top: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-team__carousel .slick-next {
    right: 38%;
  }
}

.about-team__carousel .slick-next:before {
  font-size: 14px;
  color: #eada27;
  content: "\f054";
  font-family: 'FontAwesome';
}

.about-team__carousel .slick-next:hover {
  outline: none;
  background: #000;
  color: #fff;
  transition: all .5s;
}

.about-team__carousel .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: -64px;
  right: initial;
  left: 0%;
  width: 100%;
  counter-reset: item;
  justify-content: center;
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

.about-team__carousel .slick-dots li {
  border-bottom: solid 1.5px #797979;
  margin: 0 !important;
  width: 41px;
  height: 27px;
}

.about-team__carousel .slick-dots button {
  width: 41px;
}

.about-team__carousel .slick-dots .slick-active {
  border-bottom: solid 1.5px #eada27;
}

.about-team__carousel .slick-dots li button::before {
  content: '';
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  width: 41px;
  margin-bottom: 6px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  cursor: pointer;
  font-family: "Akzidenz-Grotesk BQ";
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  opacity: 1;
  transition: all 300ms ease;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 0px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 13px;
  }
}

@font-face {
  font-family: 'Akzidenz-Grotesk Expert BQ';
  src: url("../fonts/AkzidenzGroteskExpertBQ-LightOsF.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz-Grotesk BQ';
  src: url("../fonts/AkzidenzGroteskBQ-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a:hover {
  color: #ffffff;
}

*,
*:hover,
*:focus {
  outline: none !important;
  text-decoration: none !important;
}

.main-brand__fixed {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand__fixed {
    display: none !important;
  }
}

body {
  font-family: 'Akzidenz-Grotesk Expert BQ';
  background-color: #000000;
  color: #4a4a4a;
}

body :focus {
  outline: none;
}

.mt-btn {
  margin-top: 2.2rem;
}

.padding-top-bottom {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-grid {
  display: grid;
}

.padding-right-left {
  padding-left: 111px;
  padding-right: 111px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .padding-right-left {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.nav-mask {
  position: absolute;
  top: 0;
  height: 164px;
  width: 100%;
  z-index: -1;
}

.main-general__button {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #ffffff;
  border: solid 1px #eada27;
  padding: 20px 29px;
  transition: .5s;
  display: block;
}

.main-general__button:hover {
  background: #eada27;
  transition: .5s;
  color: #000;
}

.main-general__button--yellow {
  color: #000000;
  background: #efe427;
}

.main-general__description {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.main-general__titlexs {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #efe427;
  text-align: center;
  margin-bottom: 0;
}

.main-general__title {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 37px;
  text-align: center;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__title {
    font-size: 38px;
  }
}

.brand-responsive {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .brand-responsive {
    display: initial;
  }
}

.main-button {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #efe427;
  width: fit-content;
  align-items: center;
  display: flex;
}

.main-button span {
  width: 84px;
  height: 1px;
    /* border: solid 1px #efe427; */
  background: #efe427;
  display: block;
  margin-right: 12px;
}

button:focus {
  outline: 5px auto transparent;
}

.img-round {
  border-radius: 5px;
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    background-color: #000;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar {
    background-color: #000;
  }
}

.navbar.fixed {
  background-color: #fff;
  box-shadow: rgba(191, 191, 191, 0.72) 2px 1px 8px;
  transition: .3s ease-in-out;
}

.navbar .main-rrss__responsive {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar .main-rrss__responsive {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: 0px) and (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
  .navbar .main-rrss__responsive img {
    width: 54px;
    height: 54px;
  }
}

.nav-item .main-general__button {
  color: #fff !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-item {
    justify-content: center;
    margin: .5rem 0;
  }
}

.nav-item a {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.nav-item a img {
  width: 17px;
  height: 12px;
  object-fit: contain;
}

header {
  border-bottom: solid 1px #e1e1e1;
}

.navbar .navbar-nav {
  min-height: 5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.fixed {
  background: #1c3348 !important;
}

.nav-link {
  transition: .3s ease-in-out;
  font-size: 1rem;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-link {
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    color: #fff;
  }
}

.nav-link.fixed-color {
  transition: .3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link.fixed-color {
    color: #fff;
  }
}

.nav-link:hover {
  color: #efe427 !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-link:hover {
    color: #fff;
  }
}

.fixed--link {
  color: #4a4a4a !important;
}

.fixed--white {
  background: #fff;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0;
  padding-bottom: 16px;
  padding-top: 16px;
}

.navbar-brand img {
  width: 25.7px;
  height: 25.5px;
  object-fit: contain;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand img {
    width: 11rem;
    height: 4rem;
    object-fit: contain;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar-brand {
    width: initial;
    margin-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    width: initial;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-brand__top {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand__top {
    display: none !important;
  }
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-top__header {
  width: 100%;
  background-color: #0B1A1C;
  padding: 10px;
  transition: .3s ease-in-out;
}

.nav-top__header.nav-top__header--detele {
  display: none !important;
  transition: .3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-top__header {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-top__header {
    display: none;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact a {
  color: #F7FCF9;
  text-decoration: none;
}

.main-banner__list {
  list-style: none;
  padding: 0;
  position: absolute;
  height: 100%;
  z-index: 1;
  right: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-banner__list li {
  font-size: 12px;
  transform: rotate(-90deg);
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  margin: 30px 0;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.main-banner__list li a {
  color: #ffffff;
  transition: .3s;
}

.main-banner__list li a:hover {
  color: #efe427;
  transition: .3s;
}

.main-banner {
  overflow: hidden;
  position: relative;
}

.main-banner .main-banner__content {
  margin-bottom: 0 !important;
}

.main-banner .main-general__button {
  margin-top: 61px;
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .main-banner__text {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to top, #000000 29%, rgba(0, 0, 0, 0.91) 38%, rgba(0, 0, 0, 0.56) 63%, rgba(0, 0, 0, 0.24) 75%);
}

.main-banner .main-banner__text img {
  margin-top: 186px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text img {
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text {
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner .main-banner__text {
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

.main-banner .main-banner__img {
  width: 100%;
  height: 769px;
}

.main-banner .main-banner__img img {
  width: 100%;
  height: 551px;
  object-fit: cover;
}

.main-video {
  position: relative;
}

.main-video .main-video__cover {
  width: 100%;
  height: 650px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video .main-video__cover {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video .main-video__cover {
    height: 100%;
  }
}

.main-video .main-video__mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
}

.main-video .main-video__mask img {
  width: 178px;
  height: 174px;
  object-fit: contain;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video .main-video__mask img {
    width: 87px;
    height: 100%;
  }
}

.main-footer {
  background: #000000;
}

.main-footer .padding-top-bottom {
  padding-bottom: 2rem;
}

.main-footer .container-grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

.main-footer .main-footer__logo img {
  width: 310px;
  height: 78px;
  object-fit: contain;
  margin-bottom: 24px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .main-footer__logo img {
    width: 100%;
  }
}

.main-footer .list-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer .list-contact li {
  margin-bottom: 21px;
}

.main-footer .list-contact i {
  color: #4ca752;
  margin-right: 1rem;
  width: .5rem;
}

.main-footer .list-contact a {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.main-footer .list-contact a:hover {
  transition: .3s;
  color: #efe427;
}

.main-footer .main-footer__title {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 27px;
}

.main-footer .main-footer__description {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #ffffff;
}

.main-footer .main-footer__rrss {
  display: flex;
}

.main-footer .rrss__item {
  margin-right: 28px;
}

.main-footer .rrss__item img {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.site-map {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-map li {
  margin-bottom: 21px;
}

.site-map li a {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.site-map li a:hover {
  color: #efe427;
  transition: .3s;
}

.main-footer__terms-conditions {
  opacity: 0.51;
  margin-top: 60px;
}

.main-powered {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-powered .slider-top {
  position: absolute;
  margin: 0;
  right: 0;
}

.main-powered .slider-top img {
  width: 3rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-powered .main-powered__flex {
    flex-direction: column;
    align-items: center;
  }
}

.main-powered p {
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}

.main-powered a {
  text-transform: uppercase;
  color: #fff;
  transition: .5s;
  margin: 0 .5rem;
}

.main-powered a:hover {
  color: #1c3348;
  transition: .5s;
}

/*botón up*/
.boton-subir {
  display: none;
  position: fixed;
  right: 0;
  bottom: 14px;
  z-index: 999999999;
}

.slider-top img {
  width: 3rem;
}

.main-whatsapp {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.main-whatsapp img {
  width: 4.5rem;
}

.main-blog .main-blog__img {
  height: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-blog .main-blog__img {
    height: 199px;
  }
}

.main-blog .main-blog__img img {
  width: 100%;
  height: 100%;
}

.main-blog .main-blog__item {
  position: relative;
  height: 481px;
}

.main-blog .main-blog__number {
  font-size: 60px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.17;
  letter-spacing: normal;
  color: #efe427;
  margin-bottom: 0;
}

.main-blog .main-blog__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 17px;
  color: #ffffff;
}

.main-blog .main-blog__description {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  margin-bottom: 27px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.main-blog .main-blog__text {
  background-color: rgba(0, 0, 0, 0.69);
  position: absolute;
  top: 0;
  width: 50%;
  padding-left: 191px;
  padding-right: 177px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-blog .main-blog__text {
    position: inherit;
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-blog .main-blog__text {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-blog .main-blog__text {
    padding-left: 60px;
    padding-right: 20px;
  }
}

.main-blog .main-blog__metadata {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.52px;
  color: #ffffff;
  transform: rotate(-90deg);
  width: 481px;
  top: 0;
  position: absolute;
  left: 59px;
  display: flex;
  padding: 0 63px;
  justify-content: space-between;
  z-index: -1;
  text-transform: uppercase;
  bottom: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-blog .main-blog__metadata {
    transform: rotate(0);
    position: inherit;
    width: 100%;
    left: 0;
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-blog .main-blog__metadata {
    left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-blog .main-blog__metadata {
    left: 20px;
  }
}

.main-blog .main-blog__metadata .main-blog__date,
  .main-blog .main-blog__metadata .main-blog__tag {
  display: flex;
  justify-content: center;
}

.main-blog .main-blog__metadata img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.main-materials {
  position: relative;
}

.main-materials .padding-top-bottom {
  padding-top: 199px;
}

.main-materials .main-materials__bg {
  right: 0;
  z-index: -1;
  top: 3px;
}

.main-materials .main-materials__abs {
  position: absolute;
  padding-top: 83px;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-materials .main-materials__abs {
    position: inherit;
  }
}

.main-materials .main-materials__text {
  margin-top: 250px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-materials .main-materials__text {
    margin-top: 0;
  }
}

.main-materials .container-grid {
  grid-template-columns: 1fr 1fr;
  padding-right: 119px;
  gap: 55px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-materials .container-grid {
    grid-template-columns: 100%;
    padding-left: 20px;
    padding: 20px;
  }
}

.main-materials .main-materials__img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-materials .main-materials__img {
    display: none;
  }
}

.main-materials .main-materials__item {
  display: grid;
  grid-template-columns: 1fr 82%;
  margin-bottom: 151px;
  gap: 55px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-materials .main-materials__item {
    grid-template-columns: 100%;
    margin-bottom: 118px;
    gap: 3px;
  }
}

.main-materials .main-materials__item:last-child {
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-materials .main-materials__item {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-materials .main-materials__item {
    margin-bottom: 40px;
  }
}

.main-materials .main-materials__counter {
  font-size: 60px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.main-subscription .padding-top-bottom {
  padding-bottom: 190px;
}

.main-subscription .main-subscription__title {
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 21px;
  position: relative;
}

.main-subscription .main-subscription__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1px;
  background-color: #efe427;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-subscription .main-subscription__tab {
  display: flex;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-subscription .main-subscription__tab {
    flex-direction: column;
  }
}

.main-subscription .main-subscription__tab .nav-item {
  margin-right: 34px;
}

.main-subscription .main-subscription__tab .nav-item a {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.87px;
  color: #ffffff;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-subscription .main-subscription__tab .nav-link {
  background-color: transparent;
  border: none;
}

.main-subscription .main-subscription__tab .nav-link.active {
  position: relative;
}

.main-subscription .main-subscription__tab .nav-link.active::before {
  content: "";
  width: 92%;
  left: 0;
  height: 1px;
  position: absolute;
  background: #efe427;
  bottom: 0;
}

.main-subscription .main-subscription__tab .nav {
  border-bottom: none;
}

.main-subscription form {
  display: flex;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-subscription form {
    flex-direction: column;
    margin-top: 20px;
  }
}

.main-subscription input {
  width: 343px;
  border: solid 2px #efe427;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding: 16px 19px;
  letter-spacing: 1.87px;
  color: #ffffff;
  margin-right: 25px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-subscription input {
    width: 100%;
    margin-bottom: 5px;
  }
}

.main-subscription input::placeholder {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.87px;
  color: #ffffff;
}

.main-subscription .main-general__button--yellow i {
  margin-left: 14px;
  font-size: 15px;
}

.main-instagram .container-grid {
  gap: 35px;
  grid-template-columns: 16% 1fr 35% 1fr;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-instagram .container-grid {
    grid-template-columns: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-instagram .container-grid {
    grid-template-columns: 100%;
  }
}

.main-instagram .main-instagram__titlexs {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #efe427;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main-instagram .main-instagram__titlexs span {
  width: 16px;
  height: 2px;
  margin-right: 14px;
  background: #efe427;
  display: block;
  background: #efe427;
  position: initial;
}

.main-instagram .padding-right-left {
  padding-right: 28px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-instagram .padding-right-left {
    padding-right: 28px;
    padding-left: 20px;
  }
}

.main-instagram .main-instagram__item--flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main-instagram .main-instagram__item--flex:nth-child(2) {
  align-items: flex-end;
}

.main-instagram .main-instagram__item--flex:nth-child(2) .main-instagram__imglg {
  margin-top: 49px;
}

.main-instagram .main-instagram__text {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: 5.25px;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.main-instagram .main-instagram__text span {
  color: #efe427;
}

.main-instagram .main-instagram__button {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 22px 11px;
  position: relative;
  text-transform: uppercase;
  display: block;
}

.main-instagram .main-instagram__button span {
  position: absolute;
  background: #efe427;
}

.main-instagram .main-instagram__button .main-instagram__button--span1 {
  width: 76px;
  top: 0;
  right: 17px;
  height: 2px;
}

.main-instagram .main-instagram__button .main-instagram__button--span2 {
  width: 2px;
  height: 23px;
  right: 0;
  bottom: 3px;
}

.main-instagram .main-instagram__button .main-instagram__button--span3 {
  width: 43px;
  height: 2px;
  left: 0;
  bottom: 0;
}

.main-instagram .main-instagram__button .main-instagram__button--span4 {
  width: 2px;
  left: 0;
  top: 0;
  height: 16px;
}

.main-instagram .main-instagram__imglg {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-products {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.main-products .main-general__title {
  margin-bottom: 77px;
}

.main-products .main-products__item {
  display: flex !important;
  align-items: center;
  height: 624px;
  margin-right: 15px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-products .main-products__item {
    height: auto;
    margin: 0;
  }
}

.main-products .main-products__item img {
  width: 100%;
}

.main-metrics .container-grid {
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-metrics .container-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 39px 0;
  }
}

.main-metrics .main-metrics__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-metrics .main-metrics__item {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-metrics .main-metrics__item {
    flex-direction: column;
  }
}

.main-metrics .main-metrics__item img {
  padding-right: 22px;
  border-right: 1px solid #eada27;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-metrics .main-metrics__item img {
    padding: 0;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-metrics .main-metrics__item img {
    padding: 0;
    border: none;
  }
}

.main-metrics .main-metrics__text {
  padding-left: 22px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-metrics .main-metrics__text {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-metrics .main-metrics__text {
    padding: 0;
    text-align: center;
  }
}

.main-metrics .main-metrics__counter {
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.main-metrics .main-metrics__title {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Akzidenz-Grotesk BQ';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #eada27;
  text-transform: uppercase;
}

.main-about {
  position: relative;
}

.main-about .padding-right-left {
  padding-left: 77px;
  padding-right: 77px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-about .main-general__title {
  margin-bottom: 84px;
}

.main-about__carousel .container-grid {
  grid-template-columns: 76% 1fr;
  gap: 32px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about__carousel .container-grid {
    grid-template-columns: 100%;
    padding-bottom: 40px;
  }
}

.main-about__carousel .main-about__img {
  padding-left: 239px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about__carousel .main-about__img {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-about__carousel .main-about__img {
    padding-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-about__carousel .main-about__img {
    padding-left: 0;
  }
}

.main-about__carousel .main-about__img img {
  width: 100%;
}

.main-about__carousel .main-about__text {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: "Akzidenz-Grotesk BQ";
  padding-top: 37px;
}

.main-general__bg {
  position: absolute;
}

.main-about__bg {
  top: 189px;
}

.polices .polices-item {
  margin-bottom: 71px;
}

.polices .main-general__title {
  margin-bottom: 66px;
}

.polices .main-general__description {
  letter-spacing: 0.52px;
  text-align: justify;
}

.polices .polices-item__title {
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 52px;
  letter-spacing: normal;
  color: #ffffff;
  font-family: "Akzidenz-Grotesk BQ";
}

.polices .polices-item__title span {
  font-family: 'Akzidenz-Grotesk Expert BQ';
  font-weight: 300;
  font-size: 60px;
}

.general-banner__small {
  position: relative;
}

.general-banner__small .general-banner__mask {
  padding-left: 110px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .general-banner__small .general-banner__mask {
    padding-left: 23px;
  }
}

.general-banner__small .general-banner__yellow {
  mix-blend-mode: color;
  background-color: #efe427;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.general-banner__img {
  height: 530px;
  width: 100%;
  object-fit: cover;
}

.general-banner__mask {
  padding-left: 110px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(../img/rectangle.png);
  background-size: cover;
}

@media (min-width: 0px) and (max-width: 767px) {
  .general-banner__mask {
    padding-left: 23px;
  }
}

.general-banner__button {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: "Akzidenz-Grotesk BQ";
  padding: 3px 33px;
  text-transform: uppercase;
  border-right: 1px solid #efe427;
  border-left: 1px solid #efe427;
}

.banner-general__titlexs {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #efe427;
  font-family: "Akzidenz-Grotesk BQ";
  position: relative;
  display: flex;
  text-transform: uppercase;
  margin-bottom: 20px;
  align-items: center;
}

.banner-general__titlexs span {
  width: 16px;
  height: 2px;
  margin-right: 14px;
  background: #efe427;
  display: block;
  background: #efe427;
  position: initial;
}

.banner-general__title {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: "Akzidenz-Grotesk BQ";
  text-transform: uppercase;
  margin-bottom: 54px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .banner-general__title {
    font-size: 38px;
  }
}

.general-banner__carousel .general-banner__img {
  height: 720px;
  filter: grayscale(1);
}

.about-team .main-general__title {
  margin-bottom: 75px;
}

.about-team__img {
  height: 290px;
}

.about-team__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-team__item {
  border: solid 1px #cbc222;
  box-sizing: border-box;
}

.about-team__item .about-team__body {
  padding: 29px 5px;
}

.about-team__item .about-team__name {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #eada27;
  text-transform: uppercase;
  text-align: center;
  font-family: "Akzidenz-Grotesk BQ";
}

.about-team__item .about-team__ocupation {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #ffffff;
  margin: 0;
  font-family: "Akzidenz-Grotesk BQ";
  text-transform: uppercase;
}
